<table class="table">
    <tbody>
        <tr>
            <td><span>Employee Code</span></td>
            <td><span>{{ empDetails.empBasicInfo.empId }}</span></td>
        </tr>
        <tr>
            <td><span>Employee Name</span></td>
            <td><span>{{ empDetails.empBasicInfo.firstName }}</span></td>
        </tr>
        <tr>
            <td><span>Date of Joining</span></td>
            <td><span>{{ empDetails.empBasicInfo.onboardingDate }}</span></td>
        </tr>
    </tbody>
</table>