mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100% !important;
  }

  .mat-sidenav {
    width: 220px;
  }

  .toolbar{
   /* height: 15%;*/
    background :#15293f;
    height: 50px;
    padding: 50px 0 !important;
   /* border-radius: 10px;*/
  }

  button.menu-button {
    color: white;
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    width: 60px;
    align-items: center;
  }

  #close.side-menu-close{
    position: absolute;
    right: 0px;
  }

  .side-menu {
    box-shadow: 1cm;
    min-height: 100%;
   /*border-radius: 10px;*/
    background-color: #15293f !important;
    padding: 20px;
    width: 250px;
}

:host {
  display: block;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
}

.left-content {
  height: 200px;
  flex: 1;
  background: green;
}

.right-content {
  height: 7000px;
  flex: 2;
  background: orange;
  display: flex;
}

.right-content > * {
  align-self: center;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.toolbar-filler {
  flex: 1 1 auto
}

.side-menu-logo{
  width: 125px;
  margin: 0 25px;
}

.header-padding{
  padding-left: 190px;
}
