<div *ngIf="isDataLoaded">
    <div *ngIf="mobilitySecFlag">
        <form [formGroup]="mobilityForm">

            <table class="table">
                <tbody>

                    <br>
                    <br>

                    
                    <tr>
                        <td><span>Eligible Budget</span></td>
                        <td><span>€{{ mobDetails.applicableBudget }}</span></td>
                    </tr>
                    <tr>
                        <td><span>Consumed Budget</span></td>
                        <td><span>€{{ mobDetails.consumedBudget }}</span></td>
                    </tr>
                    <tr>
                        <td><span>Available Budget</span></td>
                        <td><span>€{{ mobDetails.availableBudget }}</span></td>
                    </tr>
                </tbody>
            </table>

            <button class="btn_05" (click)="openDialog()">View Rational</button>
        </form>
    </div>
    <div *ngIf="!mobilitySecFlag">
        <div class="alert alert-success alert-box" role="alert">
            <p> Car is allocated to you, Mobility Budget is not applicable </p>
        </div>
    </div>
</div>