<div *ngIf="isDataLoaded">
  <div *ngIf="mobDetails.isMobilityApplicable">
    <div class="container mt-3">
      <div class="row p-3 border-bottom">
        <div class="col">Eligible Budget</div>
        <div class="col">€{{ mobDetails.applicableBudget }}</div>
      </div>
      <div class="row p-3 border-bottom">
        <div class="col">Consumed Budget</div>
        <div class="col">€{{ mobDetails.consumedBudget }}</div>
      </div>
      <div class="row p-3 border-bottom">
        <div class="col">Available Budget</div>
        <div class="col">
          €{{ mobDetails.availableBudget | number : "1.2-2" }}
        </div>
      </div>
    </div>
    <div class="d-flex align-items-end flex-column bd-highlight mb-3">
      <button class="btn_05" (click)="openDialog()">View Rational</button>
    </div>
  </div>
  <div *ngIf="!mobDetails.isMobilityApplicable">
    <div class="alert alert-success alert-box" role="alert">
      <p>{{ message }}</p>
    </div>
  </div>
</div>
