<div>
    <p>Employee Leave Balence Report </p>
</div>

<div class="mat-elevation-z8">


    <mat-form-field class="example-full-width">
        <mat-label>Employee Id</mat-label>
        <input matInput (change)="onChangeEvent($event)" type="">
    </mat-form-field>


    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="employeeId">
            <th mat-header-cell *matHeaderCellDef>Employee Id</th>
            <td mat-cell *matCellDef="let element"> {{element.employeeId}} </td>
        </ng-container>

        <ng-container matColumnDef="sickLeaves">
            <th mat-header-cell *matHeaderCellDef> Sick Leaves</th>
            <td mat-cell *matCellDef="let element"> {{element.sickLeaves}} </td>
        </ng-container>

        <ng-container matColumnDef="recuparationLeaves">
            <th mat-header-cell *matHeaderCellDef> Recuparation Leaves </th>
            <td mat-cell *matCellDef="let element"> {{element.recuparationLeaves}} </td>
        </ng-container>

        <ng-container matColumnDef="forwardedLeaves">
            <th mat-header-cell *matHeaderCellDef> Forwarded Leaves </th>
            <td mat-cell *matCellDef="let element"> {{element.forwardedLeaves}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div>
        <form [formGroup]="leaveForm" (ngSubmit)="onSubmit()">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Leave Type</mat-label>
                            <select matNativeControl required formControlName="leaveType">
                                <option value="confirmed">Recuparation Leaves</option>
                                <option value="inprogress">Sick Leaves</option>
                                <option value="closed">Forwarded Leaves</option>
                            </select>
                        </mat-form-field>

                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Leave From Date</mat-label>
                            <input matInput [matDatepicker]="leaveStartDate" formControlName="leaveStartDate">
                            <mat-datepicker-toggle matSuffix [for]="leaveStartDate"></mat-datepicker-toggle>
                            <mat-datepicker #leaveStartDate></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Leave End Date</mat-label>
                            <input matInput [matDatepicker]="leaveEndDate" formControlName="leaveEndDate">
                            <mat-datepicker-toggle matSuffix [for]="leaveEndDate"></mat-datepicker-toggle>
                            <mat-datepicker #leaveEndDate></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Comments</mat-label>
                            <input matInput placeholder="comments" formControlName="comments">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-primary" type="submit">Apply Leave</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

</div>