<div class="row mt-3">
  <div class="col-md-6">
    <file-upload [control]="fileUploadControl"></file-upload>
  </div>
  <div>
    <div class="row mb-3">
      <div class="col-md-3">
        <mat-label>Document Name </mat-label>
      </div>
      <div class="col-md-9">
        <div class="file-list" *ngIf="fileUploadControl.value.length > 0">
          <div class="file-item" *ngFor="let file of fileUploadControl.value"
            (click)="fileUploadControl.removeFile(file)">
            {{ file.name }}
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3" style="width: 400px;">
        <mat-label>Document Type </mat-label>
      </div>
      <div class="col-md-9">
        <mat-form-field>
          <select matNativeControl required [(ngModel)]="selectedOption">
            <option *ngFor="let document of documentsList" [value]="document.code">{{ document.name }}</option>
          </select>
        </mat-form-field>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col text-right">
        <button (click)="upload()" type="submit">Upload</button>
      </div>
    </div>
  </div>

</div>