<div class="innerMainWrap">
    <app-header></app-header>
    <section class="contentWrap">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="boxWrap borTop1">
                        <h2>Employee Details</h2>
                        <div class="boxCont">
                            <div class="row">
                                <div class="col-md-4 pt-5">
                                    <img src="assets/user_image.png" alt="" title="">
                                    <div class="input-group mt-2">
                                        <div class="custom-file">
                                            <input class="form-control-sm" type="file" id="formFile">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="table-responsive mt-3 customScroll">
                                        <app-emp-info></app-emp-info>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <i class="bi bi-info-circle" data-bs-toggle="modal" data-bs-target="#modal_01"></i>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="boxWrap borTop2">
                        <h2>Contract Timesheet</h2>
                        <div class="boxCont">
                            <div class="table-responsive mt-3 customScroll">
                                <app-timesheet> </app-timesheet>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="boxWrap borTop3">
                        <h2>Notifications</h2>
                        <div class="boxCont mt-3">
                            <div class="notificationBox customScroll">
                                <ul>
                                    <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.</span></li>
                                    <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.</span></li>
                                    <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.</span></li>
                                    <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.</span></li>
                                    <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.</span></li>
                                    <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.</span></li>
                                    <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.</span></li>
                                    <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.</span></li>
                                    <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.</span></li>
                                    <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.</span></li>
                                    <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.</span></li>
                                    <li><span>Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="boxWrap borTop4">
                        <h2>Holiday Calendar</h2>
                       
                        <div class="boxCont">
                            <app-holiday-list></app-holiday-list>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="boxWrap borTop5">
                        <h2>Assets Details</h2>
                        <div class="boxCont">
                            <app-asset-details> </app-asset-details>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="boxWrap borTop6">
                        <h2>Leaves</h2>
                        <div class="boxCont">
                            <div class="row">
                                <div class="col-md-5 pt-5">
                                    <div class="leaveCircleWrap">
                                        <span>Balance leaves</span>
                                        <h3>20</h3>
                                    </div>
                                </div>
                                <div class="col-md-7">

                                </div>
                            </div>
                            <i class="bi bi-plus-circle" data-bs-toggle="modal" data-bs-target="#modal_03"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Emplyee Details Modal -->
<div class="modal fade" id="modal_01" tabindex="-1" aria-labelledby="modal_01Label" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_01Label">Employee Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <nav>
                    <div class="nav nav-tabs mb-4" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="navTab_01" data-bs-toggle="tab" data-bs-target="#navCont01"
                            type="button" role="tab" aria-controls="navCont01" aria-selected="true">Employee
                            Details</button>
                        <button class="nav-link" id="navTab_02" data-bs-toggle="tab" data-bs-target="#navCont02"
                            type="button" role="tab" aria-controls="navCont02" aria-selected="false">Address
                            Details</button>
                        <button class="nav-link" id="navTab_03" data-bs-toggle="tab" data-bs-target="#navCont03"
                            type="button" role="tab" aria-controls="navCont03" aria-selected="false">Experience</button>
                        <button class="nav-link" id="navTab_04" data-bs-toggle="tab" data-bs-target="#navCont04"
                            type="button" role="tab" aria-controls="navCont04"
                            aria-selected="false">Qualification</button>
                        <button class="nav-link" id="navTab_05" data-bs-toggle="tab" data-bs-target="#navCont05"
                            type="button" role="tab" aria-controls="navCont05" aria-selected="false">Family
                            Details</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="navCont01" role="tabpanel" aria-labelledby="navTab_01">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label mb-0">First Name</label>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label mb-0">Passport Date of Issue</label>
                                <input class="form-control" type="date" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label mb-0">Date of Joining</label>
                                <input class="form-control" type="date" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-4 mt-3">
                                <label class="form-label mb-0">Middle Name</label>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-4 mt-3">
                                <label class="form-label mb-0">Passport Expiry Date</label>
                                <input class="form-control" type="date" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-4 mt-3">
                                <label class="form-label mb-0">Date of RP Expiry</label>
                                <input class="form-control" type="date" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-4 mt-3">
                                <label class="form-label mb-0">Last Name</label>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-4 mt-3">
                                <label class="form-label mb-0">Gender</label>
                                <select class="form-select" aria-label="">
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-md-4 mt-3">
                                <label class="form-label mb-0">Entity</label>
                                <select class="form-select" aria-label="">
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-md-4 mt-3">
                                <label class="form-label mb-0">Name on Passport</label>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-4 mt-3">
                                <label class="form-label mb-0">Date of Birth</label>
                                <input class="form-control" type="date" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-4 mt-3">
                                <label class="form-label mb-0">Passport Number</label>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-4 mt-3">
                                <label class="form-label mb-0">Bank Account Number</label>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="navCont02" role="tabpanel" aria-labelledby="navTab_02">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label mb-0">Address Type</label>
                                <select class="form-select" aria-label="">
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label mb-0">State</label>
                                <select class="form-select" aria-label="">
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label mb-0">Address Line 1*</label>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-4 mt-3">
                                <label class="form-label mb-0">Address Line 2*</label>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-4 mt-3">
                                <label class="form-label mb-0">City</label>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-4 mt-3">
                                <label class="form-label mb-0">Zip</label>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-4 mt-3">
                                <label class="form-label mb-0">Address Proof</label>
                                <input class="form-control" type="file" placeholder="" aria-label="">
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-4 mt-3 position-relative">
                                <textarea class="form-control" placeholder="Parmanent Address" id=""
                                    style="height: 100px"></textarea>
                                <a href="#" class="addEdit">Edit</a>
                            </div>
                            <div class="col-md-4 mt-3 position-relative">
                                <textarea class="form-control" placeholder="Parmanent Address" id=""
                                    style="height: 100px"></textarea>
                                <a href="#" class="addEdit">Edit</a>
                            </div>
                            <div class="col-md-12 mt-3 text-end">
                                <button type="button" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="navCont03" role="tabpanel" aria-labelledby="navTab_03">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label mb-0">Previous Designation</label>
                                <select class="form-select" aria-label="">
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label mb-0">Start Date</label>
                                <input class="form-control" type="date" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label mb-0">End Date</label>
                                <input class="form-control" type="date" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-4 mt-3">
                                <label class="form-label mb-0">Previous Company</label>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-4 mt-3">
                                <label class="form-label mb-0">Previous Annual Salery</label>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-12 mt-3 text-end">
                                <button type="button" class="btn btn-primary">Save</button>
                            </div>
                            <div class="table-responsive mt-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Previous Company</th>
                                            <th>Eperience</th>
                                            <th>Annual Salary</th>
                                            <th>Skills</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Lorem Ipsum</td>
                                            <td>Lorem Ipsum</td>
                                            <td>Lorem Ipsum</td>
                                            <td>Lorem Ipsum</td>
                                        </tr>
                                        <tr>
                                            <td>Lorem Ipsum</td>
                                            <td>Lorem Ipsum</td>
                                            <td>Lorem Ipsum</td>
                                            <td>Lorem Ipsum</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="navCont04" role="tabpanel" aria-labelledby="navTab_04">
                        <div class="row">
                            <div class="col-md-12 text-end pb-3">
                                <i class="bi bi-plus-lg" data-bs-toggle="modal" data-bs-target="#modal_02"></i>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label mb-0">Qualification</label>
                                <select class="form-select" aria-label="">
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label mb-0">Year of Pass</label>
                                <input class="form-control" type="date" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label mb-0">Course</label>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-4 mt-3">
                                <label class="form-label mb-0">Percentage</label>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-4 mt-3">
                                <label class="form-label mb-0">University</label>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-12 mt-3 text-end">
                                <button type="button" class="btn btn-primary">Save</button>
                            </div>
                            <div class="table-responsive mt-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Qualification</th>
                                            <th>Year of Pass</th>
                                            <th>Course</th>
                                            <th>University</th>
                                            <th>Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Lorem Ipsum</td>
                                            <td>Lorem Ipsum</td>
                                            <td>Lorem Ipsum</td>
                                            <td>Lorem Ipsum</td>
                                            <td>Lorem Ipsum</td>
                                        </tr>
                                        <tr>
                                            <td>Lorem Ipsum</td>
                                            <td>Lorem Ipsum</td>
                                            <td>Lorem Ipsum</td>
                                            <td>Lorem Ipsum</td>
                                            <td>Lorem Ipsum</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="navCont05" role="tabpanel" aria-labelledby="navTab_05">
                        <div class="row">
                            <div class="col-md-12 text-end pb-3">
                                <i class="bi bi-plus-lg" data-bs-toggle="modal" data-bs-target="#modal_02"></i>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label mb-0">Name</label>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label mb-0">Date of Birth</label>
                                <input class="form-control" type="date" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label mb-0">Relation with Employee</label>
                                <select class="form-select" aria-label="">
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-md-4 mt-3">
                                <label class="form-label mb-0">Contact Number</label>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </div>
                            <div class="col-md-12 mt-3 text-end">
                                <button type="button" class="btn btn-primary">Save</button>
                            </div>
                            <div class="table-responsive mt-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                            <th>Name</th>
                                            <th>Relation with Employee</th>
                                            <th>Contact No.</th>
                                            <th>Birth Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="#"><img src="images/edit.png" alt="" title=""></a></td>
                                            <td><a href="#"><img src="images/delete.png" alt="" title=""></a></td>
                                            <td>Lorem Ipsum</td>
                                            <td>Lorem Ipsum</td>
                                            <td>Lorem Ipsum</td>
                                            <td>Lorem Ipsum</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#"><img src="images/edit.png" alt="" title=""></a></td>
                                            <td><a href="#"><img src="images/delete.png" alt="" title=""></a></td>
                                            <td>Lorem Ipsum</td>
                                            <td>Lorem Ipsum</td>
                                            <td>Lorem Ipsum</td>
                                            <td>Lorem Ipsum</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Timesheet Modal -->
<div class="modal fade" id="modal_02" tabindex="-1" aria-labelledby="modal_02Label" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_02Label">Employee Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col"><i class="bi bi-plus-lg"></i></th>
                                <th scope="col"><input type="date"></th>
                                <th scope="col"><span>Logged Hrs</span></th>
                                <th scope="col"><span>Mon<br>01</span></th>
                                <th scope="col"><span>Tue<br>02</span></th>
                                <th scope="col"><span>Wed<br>03</span></th>
                                <th scope="col"><span>Thus<br>04</span></th>
                                <th scope="col"><span>Fri<br>05</span></th>
                                <th scope="col"><span>Sat<br>06</span></th>
                                <th scope="col"><span>Sun<br>07</span></th>
                                <th scope="col"><span>Mon<br>08</span></th>
                                <th scope="col"><span>Tue<br>09</span></th>
                                <th scope="col"><span>Wed<br>10</span></th>
                                <th scope="col"><span>Thus<br>11</span></th>
                                <th scope="col"><span>Fri<br>12</span></th>
                                <th scope="col"><span>Sat<br>13</span></th>
                                <th scope="col"><span>Sun<br>14</span></th>
                                <th scope="col"><span>Mon<br>01</span></th>
                                <th scope="col"><span>Tue<br>02</span></th>
                                <th scope="col"><span>Wed<br>03</span></th>
                                <th scope="col"><span>Thus<br>04</span></th>
                                <th scope="col"><span>Fri<br>05</span></th>
                                <th scope="col"><span>Sat<br>06</span></th>
                                <th scope="col"><span>Sun<br>07</span></th>
                                <th scope="col"><span>Mon<br>08</span></th>
                                <th scope="col"><span>Tue<br>09</span></th>
                                <th scope="col"><span>Wed<br>10</span></th>
                                <th scope="col"><span>Thus<br>11</span></th>
                                <th scope="col"><span>Fri<br>12</span></th>
                                <th scope="col"><span>Sat<br>13</span></th>
                                <th scope="col"><span>Sun<br>14</span></th>
                                <th scope="col"><span>Sat<br>13</span></th>
                                <th scope="col"><span>Sun<br>14</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th style="width: 5%;" scope="row">Sr. 1</th>
                                <td style="width: 10%;" scope="row">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                            </tr>
                            <tr>
                                <th style="width: 5%;" scope="row">Sr. 1</th>
                                <td style="width: 10%;" scope="row">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                                <td>
                                    <input class="form-control" type="text" placeholder="" aria-label="">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-12 mt-3">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModalToggle">Save</button>
                        <button type="button" class="btn btn-primary ms-3" data-bs-toggle="modal"
                            data-bs-target="#exampleModalToggle2">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Leave Modal -->
<div class="modal fade" id="modal_03" tabindex="-1" aria-labelledby="modal_03Label" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_03Label">Leaves</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="Leavemodal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="form-label mb-0">Leave Type</label>
                                    <select class="form-select" aria-label="">
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <label class="form-label mb-0">Leave Start Date</label>
                                    <input class="form-control" type="date" placeholder="" aria-label="">
                                </div>
                                <div class="col-md-12 mt-3">
                                    <label class="form-label mb-0">Leave End Date</label>
                                    <input class="form-control" type="date" placeholder="" aria-label="">
                                </div>
                                <div class="col-md-12 mt-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault"> Half Day </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12">
                                <label class="form-label mb-0">Comments</label>
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                    style="height: 113px"></textarea>
                            </div>
                            <div class="col-md-12 mt-3">
                                <label for="formFile" class="form-label mb-0">* Supporting Documents</label>
                                <input class="form-control" type="file" id="formFile">
                            </div>
                        </div>
                        <div class="col-md-12 mt-3 text-end">
                            <button type="button" class="btn btn-primary">Submit Leave Request</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                Timesheet has been saved for selected week successfully.
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                Timesheet has been submitted for selected week successfully.
            </div>
        </div>
    </div>
</div>