<div class="main-container">
  <div class="popup-box-wrap">
    <div class="modal-body">
      <!-- Angular Material Tab Group -->
      <mat-tab-group class="tab-container">
        <!-- Loop through each policy in the array -->
        <mat-tab *ngFor="let policy of policies" [label]="policy.name">
          <ng-template matTabContent>
            <div class="pdf-viewer-container">
              <!-- Using an iframe as a replacement for the external PDF viewer library -->
              <iframe
                [src]="getSafeUrl(policy.source)"
                class="pdf-iframe"
                frameborder="0"
              ></iframe>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
