<div class="page-layout-container">
    <form [formGroup]="updateLeavesForm">
        <div>
            <p *ngIf="successFlag">Leaves updated successfully for employee -- {{ empName }} </p>
        </div>
        <div>
            <div class="row">
                <h1 class="title"> Update Leaves for - {{ empName }} </h1>
            </div>
            <div class="row">
                <div class="col-6" style="width: 80%;">
                    <app-emp-name [filterEmpName]="filterEmpName" (empName)="empNameSelected($event)">
                    </app-emp-name>
                </div>
                <div class="col">
                    <button class="btn btn-primary" (click)="fetchLeaves()" type="submit">Fetch Leaves</button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Sick Leaves *</mat-label>
                        <input matInput type="number" min="0" max="100" formControlName="sickLeave">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>RTT Adv Leaves *</mat-label>
                        <input matInput type="number" min="0" max="100" formControlName="rttAdv">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Authorised Absence *</mat-label>
                        <input matInput type="number" min="0" max="100" formControlName="authorisedAbsence">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Forwarded Leaves *</mat-label>
                        <input matInput type="number" min="0" max="100" formControlName="forwardedLeave">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Forced Majeure *</mat-label>
                        <input matInput type="number" min="0" max="100" formControlName="forceMajeure">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Compensation Leaves *</mat-label>
                        <input matInput type="number" min="0" max="100" formControlName="compensationLeave">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Others Leaves *</mat-label>
                        <input matInput type="number" min="0" max="100" formControlName="other">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Parental Leaves *</mat-label>
                        <input matInput type="number" min="0" max="100" formControlName="parentalLeave">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Maternity Leaves *</mat-label>
                        <input matInput type="number" min="0" max="100" formControlName="maternityLeave">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field >
                        <mat-label>Total Leaves *</mat-label>
                        <input matInput type="number" min="0" max="100" formControlName="totalleavebalence">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field class="form-col" style="width: 80%;">
                        <mat-label>Comments*</mat-label>
                        <textarea matInput formControlName="comments"></textarea>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field [hidden]="true">
                        <mat-label>Leave Balence Id*</mat-label>
                        <input matInput  formControlName="leavebalenceid">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field [hidden]="true">
                        <mat-label>Employee Id*</mat-label>
                        <input matInput formControlName="employeeId">
                    </mat-form-field>
                </div>
            </div>

            <div style="text-align: center">
                <button class="btn btn-primary" (click)="UpdateLeaves()" type="submit">Update Leaves</button>
            </div>

        </div>
    </form>
</div>