<header id="header">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-1">
              <div class="innerLogo">
                  <img src="assets/images/nishtechlogo.png" alt="" title="">
              </div>
          </div>
          <div class="col-md-9" align="center">
              <h1>NEPtune</h1>
          </div>
          <div class="col-md-1" style="float: right">
            <button style="font-size: 14px; 
          color: white; margin: 0"
           class="btn btn-default dropdown-toggle" 
          mat-button [matMenuTriggerFor]="menuI">Hello {{userName}}</button>
            <!-- #enddocregion mat-menu-trigger-for -->
            <mat-menu #menuI="matMenu">
              <a mat-menu-item (click)="openDialog()" style="text-decoration: none">Change Password</a>
              <a mat-menu-item (click)="logout()" style="text-decoration: none">Logout</a>
            </mat-menu>
          </div>
      </div>
  </div>
</header>