<header id="header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-1" style="text-align: center">
        <div class="innerLogo">
          <img src="assets/images/nishtechlogo.png" alt="" title="" />
        </div>
      </div>
      <div class="col-md-9" align="center">
        <h1>NEPtune</h1>
      </div>
      <div class="col-md-1" style="float: right; text-align: center">
        <button
          style="font-size: 14px; color: white; margin: 0"
          class="btn btn-default dropdown-toggle"
          mat-button
          [matMenuTriggerFor]="menuI"
        >
          Hello {{ userName }}
        </button>
        <!-- #enddocregion mat-menu-trigger-for -->
        <mat-menu #menuI="matMenu">
          <a mat-menu-item (click)="openDialog()" style="text-decoration: none"
            >Change Password</a
          >
          <a
            mat-menu-item
            (click)="openPolicyDialog()"
            style="text-decoration: none"
            >Policies</a
          >
          <a mat-menu-item (click)="logout()" style="text-decoration: none"
            >Logout</a
          >
        </mat-menu>
      </div>
    </div>
  </div>
</header>
<style></style>

<div class="col-md-12">
  <div
    class="d-flex justify-content-between align-items-center breaking-news bg-white"
    style="border: 1px solid #01263d"
  >
    <div
      class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bg-danger py-2 text-white px-1 news"
    >
      <span class="d-flex align-items-center">&nbsp;Notification</span>
    </div>
    <marquee
      class="news-scroll"
      behavior="scroll"
      direction="left"
      onmouseover="this.stop();"
      onmouseout="this.start();"
    >
      <span *ngFor="let notifiy of notification; let i = index">
        <a href="#">{{ notifiy.title }}</a>
        <span class="dot" style="margin-right: 10px"></span>
      </span>
    </marquee>
  </div>
</div>
