.modal-content{
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
}
.table-responsive .table{
    color: #000;
    font-size: 14px;
    vertical-align: top;
}
#modal_02 .table-responsive .table{
    width: 200%;
}
.table-responsive .table tr th{
    color: #000;
    font-weight: 500;
    padding-bottom: 15px;
    vertical-align: top;
}
.boxCont .table-responsive{
    max-height: 260px;
}

.table-responsive .table tr th{
    text-align: center;
    vertical-align: middle;
    padding-bottom: 0;
}

.loginBox .form-control{
    background: #4d4d4d;
}
.loginBox .form-control::placeholder{
    color: #858585;
}
.loginBox .input-group-text{
    border: 1px #3a3a3a solid;
    background: transparent;
}
.loginBox .form-control {
    border: 1px #3a3a3a solid;
}
.btn-primary {
    background: #01263d;
    padding: 5px 25px;
    border-color: #fff;
}

.form-control {
    padding: 0.01rem 0.01rem;
}