<div class="popUpboxWrap borTop3 p-3">
  <div class="Leavemodal-body">
    <div class="modal-header">
      <h5>Approved Leaves</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="close()"
      ></button>
    </div>
    <div class="example-container mat-elevation-z1">
      <mat-table
        class="responsive-md responsive-sm zebra sticky-header"
        #table
        [dataSource]="dataSource"
        matSort
      >
        <ng-container matColumnDef="srNO">
          <mat-header-cell *matHeaderCellDef> SNO </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="SNO">
            {{ element.sno }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="leaveType">
          <mat-header-cell *matHeaderCellDef> Leave Type</mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Leave Type">
            {{ element.leaveType }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="leaveStartDate">
          <mat-header-cell *matHeaderCellDef> Leave StartDate </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Leave StartDate">
            {{ element.leaveStartDate }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="leaveEndDate">
          <mat-header-cell *matHeaderCellDef> Leave EndDate </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Leave EndDate">
            {{ element.leaveEndDate }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="noOfDays">
          <mat-header-cell *matHeaderCellDef> Total Days </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Total Days">
            {{ element.noOfDays }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="appliedBy">
          <mat-header-cell *matHeaderCellDef> Applied By </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Applied By">
            {{ element.appliedBy }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="appliedDate">
          <mat-header-cell *matHeaderCellDef> Applied Date </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Applied Date">
            {{ element.appliedDate }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Status">
            {{ element.appliedBy }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="comments">
          <mat-header-cell *matHeaderCellDef> Comments </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Comments">
            {{ element.comments }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
