<div class="table-responsive mt-3 customScroll">
    <table class="table">
        <thead>
            <tr>
                <th><label>Contract Name</label></th>
                <th><label>Contract Status</label></th>
                <th><label>Contract Hours</label></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span>Sample Contract New...</span></td>
                <td><span>LIVE</span></td>
                <td><span>12 h</span></td>
            </tr>
            <tr>
                <td><span>Sample Contract New...</span></td>
                <td><span>LIVE</span></td>
                <td><span>12 h</span></td>
            </tr>
            <tr>
                <td><span>Sample Contract New...</span></td>
                <td><span>LIVE</span></td>
                <td><span>12 h</span></td>
            </tr>
            <tr>
                <td><span>Sample Contract New...</span></td>
                <td><span>LIVE</span></td>
                <td><span>12 h</span></td>
            </tr>
        </tbody>
    </table>
</div>
<i class="bi bi-plus-circle" data-bs-toggle="modal" data-bs-target="#modal_02"></i>