<div class="table-responsive mt-3 customScroll">
    <table class="table">
        <thead>
            <tr>
                <th><label>Contract Name</label></th>
                <th><label>Contract Period</label></th>
                <th><label>Hours Filled</label></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of contractList">
                <td><span>{{ row.clientName }}</span></td>
                <td><span>{{ row.contractStartDate | customDate }} - {{ row.contractEndDate | customDate }}</span></td>
                <td><span>{{ row.noOfHours }}</span></td>
            </tr>
        </tbody>
    </table>
</div>

<button class="btn_02" (click)="openDialog()">Fill Timesheet</button>