<div class="table-responsive mt-3 customScroll">
    <table class="table">
        <thead>
            <tr>
                <th><label>Contract Name</label></th>
                <th><label>Contract Status</label></th>
                <th><label>Contract Hours</label></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of contractList">
                <td><span>{{ row.clientName }}</span></td>
                <td><span>{{ row.contractStatus }}</span></td>
                <td><span>{{ row.contractId }}</span></td>
            </tr>
        </tbody>
    </table>
</div>

<button mat-raised-button color="primary" (click)="openDialog()">Details</button>
<i class="bi bi-plus-circle" data-bs-toggle="modal" data-bs-target="#modal_02"></i>