<div class="table-responsive mt-3 customScroll">
    <table class="table">
        <thead>
            <tr>
                <th><label>Location</label></th>
                <th><label>Asset Name</label></th>
                <th><label>Model No</label></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span>Pune</span></td>
                <td><span><i class="bi bi-laptop"></i> Laptop</span></td>
                <td><span>Dell Precision 7560</span></td>
            </tr>
            <tr>
                <td><span>Mumbai</span></td>
                <td><span><i class="bi bi-phone"></i> Mobile</span></td>
                <td><span>Apple Precision 7560</span></td>
            </tr>
        </tbody>
    </table>
</div>