<div class="table-responsive mt-3 customScroll">
    <table class="table">
        <thead>
            <tr>
                <th><label>Asset</label></th>
                <th><label>Description</label></th>
                <th><label>Assigned Date</label></th>
            </tr>
        </thead>
        <tbody>
            <tbody>
                <tr *ngFor="let row of holidaysList">
                    <td><span>{{ row.assetType }}</span></td>
                    <td><span>{{ row.assetDesc }}</span></td>
                    <td><span>{{ row.empAssignedDate }}</span></td>
                </tr>
        </tbody>
    </table>
</div>