table {
  max-width: 100%;
  overflow: auto;
}

p {
  font-size: 1.5rem;
  color: green;
  font-family: Helvetica, Arial, sans-serif;
}

.tab-col {
  padding: 2px;
  align-content: flex;
  text-align: center;
  width: 100px;
}

.tab-basic-col {
  width: 100px;
}

.row-emp {
  background-color: red;
}
