<div class="popUpboxWrap borTop3">
    <div class="Leavemodal-body">
        <div class="modal-header">
            <h5>Apply Leaves</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="close()">
            </button>
        </div>
        <div *ngIf="message" class="alert alert-success">{{ messageDesc }}</div>
        <div *ngIf="error" class="alert alert-danger">{{ errorDesc }}</div>

        <form [formGroup]="leaveForm">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field>
                                <mat-label class="form-label mb-0">LeaveType </mat-label>
                                <select matNativeControl required formControlName="leaveType" class="form-select"
                                    aria-label="">
                                    <option value="AA">Paid Holidays</option>
                                    <option value="RTT">Rtt/ADV days</option>
                                    <option value="CL">Comp off leaves</option>
                                    <option value="FL">Forwarded leaves</option>
                                </select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12 mt-3">
                            <mat-form-field>
                                <mat-label class="form-label mb-0">Leave Start Date</mat-label>
                                <input matInput [matDatepicker]="leaveStartDate" required
                                    (dateChange)="dateValidation($event)" [matDatepickerFilter]="dateFilter" formControlName="leaveStartDate">
                                <mat-datepicker-toggle matSuffix [for]="leaveStartDate"></mat-datepicker-toggle>
                                <mat-datepicker #leaveStartDate (selectedChanged)="dateValidation($event)">
                                </mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12 mt-3">
                            <mat-form-field>
                                <mat-label class="form-label mb-0">Leave End Date</mat-label>
                                <input matInput [matDatepicker]="leaveEndDate" required
                                    (dateChange)="dateValidation($event)" [matDatepickerFilter]="dateFilter" formControlName="leaveEndDate">
                                <mat-datepicker-toggle matSuffix [for]="leaveEndDate"></mat-datepicker-toggle>
                                <mat-datepicker #leaveEndDate></mat-datepicker>
                            </mat-form-field>

                        </div>
                        <div class="col-md-12 mt-3">
                            <div class="form-check">
                                <section>
                                    <mat-checkbox #halfDay placeholder="halfDay"
                                        (change)="disableEndDate(halfDay.checked)">
                                        Halfday *</mat-checkbox>
                                </section>

                                <!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault"> Half Day </label> -->
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12 mt-3">
                        <mat-form-field>
                            <mat-label>Total Leaves </mat-label>
                            <input matInput type="number" min="0" max="100" [readonly]="true"
                                formControlName="numberOfDays">
                        </mat-form-field>
                    </div>
                    <br>
                    <div class="col-md-12">
                       <!--  <label class="form-label mb-0">Comments</label> -->
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                            formControlName="comments" style="height: 113px"></textarea>
                    </div>
                </div>

                <div class="col-md-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><label>Leave Type</label></th>
                                <th><label>Balance</label></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span>Paid Holidays</span></td>
                                <td><span>{{ leaves.authorisedAbsence }}</span></td>
                            </tr>
                            <tr>
                                <td><span>RTT/ADV Days</span></td>
                                <td><span>{{ leaves.rttAdv }}</span></td>
                            </tr>
                            <tr>
                                <td><span>Comp off Leaves</span></td>
                                <td><span>{{ leaves.compensationLeave }}</span></td>
                            </tr>
                            <tr>
                                <td><span>Forwarded Leaves</span></td>
                                <td><span>{{ leaves.forwardedLeave }}</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <p style=" font-weight: bold; color: orange;"> Please refer below for all other leave types </p>
                </div>
                <div class="col-md-12 mt-3 text-end">
                    <button mat-button class="btn btn-primary" (click)="submitLeave()" type="submit">Submit Leave
                        Request</button>
                </div>
            </div>
        </form>
    </div>

&nbsp; 

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Instructions</h4>
        <p> ‣ Please send medical certificate to <strong>hr@nishtech.be</strong> to avail sick leaves</p>
        <p> ‣ Customer holidays should be applied as a leaves in the order - RTT, Comp off, paid leave </p>
        <p> ‣ Please contact HR for all other special leaves  </p>
    </div>

</div>



