<div class="popUpboxWrap borTop3">
    <div class="Leavemodal-body">
        <h5>Apply Leaves</h5>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <label class="form-label mb-0">Leave Type</label>
                        <select class="form-select" aria-label="">
                            <option value="AA">Paid Holiday</option>
                            <option value="RTT">Rtt/ADV days</option>
                            <option value="CL">Compensation leave</option>
                            <option value="FL">Forwarded leave</option>
                        </select>
                    </div>
                    <div class="col-md-12 mt-3">
                        <label class="form-label mb-0">Leave Start Date</label>
                        <input class="form-control" type="date" placeholder="" aria-label="">
                    </div>
                    <div class="col-md-12 mt-3">
                        <label class="form-label mb-0">Leave End Date</label>
                        <input class="form-control" type="date" placeholder="" aria-label="">
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault"> Half Day </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <label class="form-label mb-0">Comments</label>
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                        style="height: 113px"></textarea>
                </div>
            </div>
            <div class="col-md-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th><label>Leave Type</label></th>
                            <th><label>Balence</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span>Paid Holiday</span></td>
                            <td><span>{{ leaves.authorisedAbsence }}</span></td>
                        </tr>
                        <tr>
                            <td><span>RTT/ADV Days</span></td>
                            <td><span>{{ leaves.rttAdv }}</span></td>
                        </tr>
                        <tr>
                            <td><span>Compensation Leave</span></td>
                            <td><span>{{ leaves.compensationLeave }}</span></td>
                        </tr>
                        <tr>
                            <td><span>Forwarded Leave</span></td>
                            <td><span>{{ leaves.forwardedLeave }}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 mt-3 text-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModalToggle4">Submit Leave Request</button>
            </div>
        </div>
    </div>
</div>