<div class="assets-container">
    <form [formGroup]="updateAssetForm">
        <div>
            <p *ngIf="successFlag">Asset {{ description }} updated successfully</p>
        </div>
        <div class="section">
            <div class="row">
                <h1 class="title"> Update Asset - {{ assetType }} </h1>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <mat-label>Update Category </mat-label>
                        <select matNativeControl required [(ngModel)]="selectUpdateCategory"
                            formControlName="updateCategory">
                            <option value="assignEmp">Assign To Employee</option>
                            <option value="updateAsset">Update Asset</option>
                        </select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Search Asset with ID *</mat-label>
                        <input matInput formControlName="assetId" (change)="searchAsset($event)" />
                    </mat-form-field>
                </div>
            </div>

            <div *ngIf="selectUpdateCategory === 'assignEmp'">
                <div class="divider">
                    <span></span>
                    <span>Assign to New Employee</span><span></span>
                </div>
                <div class="row">
                    <div class="col-6" style="width: 80%;">
                        <app-emp-name [filterEmpName]="filterEmpName" (empName)="empNameSelected($event)">
                        </app-emp-name>
                    </div>
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Employee Assign Date *</mat-label>
                            <input matInput [matDatepicker]="currentEmpAssignedDate" formControlName="empAssignedDate">
                            <mat-datepicker-toggle matSuffix [for]="currentEmpAssignedDate"></mat-datepicker-toggle>
                            <mat-datepicker #currentEmpAssignedDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Current Employee End Date *</mat-label>
                            <input matInput [matDatepicker]="currentEmpEndDate" formControlName="currentEmpEndDate">
                            <mat-datepicker-toggle matSuffix [for]="currentEmpEndDate"></mat-datepicker-toggle>
                            <mat-datepicker #currentEmpEndDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <mat-form-field class="form-col" style="width: 80%;">
                            <mat-label>Comments*</mat-label>
                            <textarea matInput formControlName="comments"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field>
                            <mat-label>New Employee Assign Date *</mat-label>
                            <input matInput [matDatepicker]="newEmpAssignedDate" formControlName="newEmpAssignedDate">
                            <mat-datepicker-toggle matSuffix [for]="newEmpAssignedDate"></mat-datepicker-toggle>
                            <mat-datepicker #newEmpAssignedDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Status </mat-label>
                            <select matNativeControl required formControlName="status">
                                <option value="active">Active</option>
                                <option value="inActive">In Active</option>
                                <option value="assigned">Assigned</option>
                            </select>
                        </mat-form-field>
                    </div>
                </div>
                <div style="text-align: center">
                    <button class="btn btn-primary" (click)="assignAsset()" type="submit">Assign Asset to New
                        Employee</button>
                </div>
            </div>
            <!-- && assetType === 'Car' -->
            <div formGroupName="assetCar" *ngIf="selectUpdateCategory === 'updateAsset' && assetType === 'Car' ">

                <div class="divider">
                    <span></span>
                    <span>Update {{ assetType }} Details</span><span></span>
                </div>

                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Model *</mat-label>
                            <input matInput formControlName="model">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Make *</mat-label>
                            <input matInput formControlName="make">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Registration Number *</mat-label>
                            <input matInput formControlName="number">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Color *</mat-label>
                            <input matInput formControlName="color">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Chasis Number *</mat-label>
                            <input matInput formControlName="chasisNumber">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Status </mat-label>
                            <select matNativeControl required formControlName="carStatus">
                                <option value="active">Active</option>
                                <option value="inActive">In Active</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Carbon Emission *</mat-label>
                            <input matInput formControlName="carbonEmission">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Catalogue Price *</mat-label>
                            <input matInput formControlName="cataloguePrice">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Category </mat-label>
                            <select matNativeControl required formControlName="assetCategory">
                                <option value="leased">Leased</option>
                                <option value="own">Own</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field class="form-col" style="width: 80%;">
                            <mat-label>Comments*</mat-label>
                            <textarea matInput formControlName="assetComments"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div style="text-align: center">
                    <button class="btn btn-primary" (click)="updateCarAsset()" type="submit">Update Car Asset</button>
                </div>
            </div>
            <div class="row">

                <div class="col" *ngIf="selectedAsset === 'SIM'">
                    <mat-form-field class="example-full-width">
                        <mat-label>Mobile Number *</mat-label>
                        <input matInput formControlName="mobileNumber">
                    </mat-form-field>
                </div>
                <div class="col" *ngIf="selectedAsset === 'Fuel Card'">
                    <mat-form-field class="example-full-width">
                        <mat-label>Fuel Card *</mat-label>
                        <input matInput formControlName="fuelCard">
                    </mat-form-field>
                </div>
            </div>
            <!--  *ngIf="(selectedAsset === 'Laptop' || selectedAsset === 'Desktop' || selectedAsset === 'Mobile' )" -->
            <div formGroupName="assetElectronic"
                *ngIf="selectUpdateCategory === 'updateAsset' && (assetType === 'Laptop' || assetType === 'Desktop' || assetType === 'Mobile' )">
                <div class="divider">
                    <span></span>
                    <span>Update {{ assetType }} Details</span><span></span>
                </div>

                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Model *</mat-label>
                            <input matInput formControlName="electronicModel">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Serial Number *</mat-label>
                            <input matInput formControlName="electronicSerialNumber">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Price *</mat-label>
                            <input matInput formControlName="electronicPrice">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <mat-form-field class="form-col" style="width: 80%;">
                            <mat-label>Comments*</mat-label>
                            <textarea matInput formControlName="assetComments"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div style="text-align: center">
                    <button class="btn btn-primary" (click)="updateElectronicAsset()" type="submit">Update Asset</button>
                </div>
            </div>
        </div>
    </form>
</div>