<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="modal_02Label">Employee Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col"><input type="date"></th>
                        <th scope="col"><span>Logged Hrs</span></th>
                        <th *ngFor="let hd of header" scope="col"><span>{{ hd.dayName }}<br>{{ hd.day }}</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of rows">
                        <td style="width: 10%;" scope="row">
                            {{ row.contractId }}
                        </td>
                        <td style="width: 10%;" scope="row">
                            {{ row.noOfHrs }}
                        </td>
                        <td *ngFor="let timeData of row.contractTimeSheetList">
                            <span *ngIf="timeData.isDisabled; else editPlace">
                                <input class="form-control" type="text" placeholder="" disabled
                                    [ngModel]="timeData.filledData" aria-label="">
                            </span>
                            <ng-template #editPlace>
                                <!-- <input [(ngModel)]="element.value" (keyup.enter)="element.editable = false" /> -->
                                <input class="form-control" type="text" placeholder="" [ngModel]="timeData.filledData"
                                    aria-label="">
                            </ng-template>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="col-md-12 mt-3">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModalToggle">Save</button>
                <button type="button" class="btn btn-primary ms-3" data-bs-toggle="modal" onclick="UpdateTimeSheet()"
                    data-bs-target="#exampleModalToggle2">Submit</button>
            </div>
        </div>
    </div>
</div>