
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modal_02Label">Employee Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead >
                        <tr >
                            <th scope="col"><i class="bi bi-plus-lg"></i></th>
                            <th scope="col"><input type="date"></th>
                            <th scope="col"><span>Logged Hrs</span></th>
                            <th *ngFor="let hd of header" scope="col"><span>{{ hd.dayName }}<br>{{ hd.day }}</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let row of rows">
                            <th style="width: 5%;" scope="row">Sr. 1</th>
                            <td style="width: 10%;" scope="row">
                                {{ row.contractId }}
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>





    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modal_02Label">Employee Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="table-responsive">            
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"><i class="bi bi-plus-lg"></i></th>
                            <th scope="col"><input type="date"></th>
                            <th scope="col"><span>Logged Hrs</span></th>
                            <th scope="col"><span>Mon<br>01</span></th>
                            <th scope="col"><span>Tue<br>02</span></th>
                            <th scope="col"><span>Wed<br>03</span></th>
                            <th scope="col"><span>Thus<br>04</span></th>
                            <th scope="col"><span>Fri<br>05</span></th>
                            <th scope="col"><span>Sat<br>06</span></th>
                            <th scope="col"><span>Sun<br>07</span></th>
                            <th scope="col"><span>Mon<br>08</span></th>
                            <th scope="col"><span>Tue<br>09</span></th>
                            <th scope="col"><span>Wed<br>10</span></th>
                            <th scope="col"><span>Thus<br>11</span></th>
                            <th scope="col"><span>Fri<br>12</span></th>
                            <th scope="col"><span>Sat<br>13</span></th>
                            <th scope="col"><span>Sun<br>14</span></th>
                            <th scope="col"><span>Mon<br>01</span></th>
                            <th scope="col"><span>Tue<br>02</span></th>
                            <th scope="col"><span>Wed<br>03</span></th>
                            <th scope="col"><span>Thus<br>04</span></th>
                            <th scope="col"><span>Fri<br>05</span></th>
                            <th scope="col"><span>Sat<br>06</span></th>
                            <th scope="col"><span>Sun<br>07</span></th>
                            <th scope="col"><span>Mon<br>08</span></th>
                            <th scope="col"><span>Tue<br>09</span></th>
                            <th scope="col"><span>Wed<br>10</span></th>
                            <th scope="col"><span>Thus<br>11</span></th>
                            <th scope="col"><span>Fri<br>12</span></th>
                            <th scope="col"><span>Sat<br>13</span></th>
                            <th scope="col"><span>Sun<br>14</span></th>
                            <th scope="col"><span>Sat<br>13</span></th>
                            <th scope="col"><span>Sun<br>14</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="width: 5%;" scope="row">Sr. 1</th>
                            <td style="width: 10%;" scope="row">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                        </tr>
                        <tr>
                            <th style="width: 5%;" scope="row">Sr. 1</th>
                            <td style="width: 10%;" scope="row">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                            <td>
                                <input class="form-control" type="text" placeholder="" aria-label="">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-12 mt-3">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">Save</button>
                    <button type="button" class="btn btn-primary ms-3" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle2">Submit</button>
                </div>
            </div>
        </div>
    </div>
