<div class="popUpboxWrap borTop2 p-3">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="modal_02Label">Fill Timesheet</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="close()"
      ></button>
    </div>
    <span> &nbsp;</span>
    <div class="modal-body">
      <div class="table-responsive">
        <p
          *ngIf="timeSheetFlag"
          style="font-weight: bold; color: rgba(255, 0, 0, 0.564)"
        >
          Timesheet is frozen. Contact HR in case of concerns
        </p>
        <p
          *ngIf="errorMessage"
          style="font-weight: bold; color: rgba(255, 0, 0, 0.564)"
        >
          {{ errorMessage }}
        </p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col" style="width: 225px">
                <mat-form-field>
                  <mat-label>Select Month</mat-label>
                  <input
                    matInput
                    [matDatepicker]="timeSheetDate"
                    required
                    [(ngModel)]="selectedDate"
                    datePickerFormat="DD/MM/YYYY"
                    style="color: rgb(62, 0, 128)"
                    (dateChange)="fetchTimesheet()"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="timeSheetDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #timeSheetDate> </mat-datepicker>
                </mat-form-field>
              </th>
              <th scope="col" style="color: rgb(62, 0, 128); width: 90px">
                <span>Logged Hrs</span>
              </th>
              <th
                *ngFor="let hd of header"
                scope="col"
                style="color: rgb(62, 0, 128); width: 55px"
              >
                <span>{{ hd.dayName }}<br />{{ hd.day }}</span>
              </th>
              <th scope="col" style="color: rgb(62, 0, 128); width: 225px">
                <span>Comments</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of rows; let j = index">
              <td style="color: rgb(62, 0, 128)" scope="row">
                <span> {{ row.contractId }}</span>
              </td>
              <td scope="row" [(ngModel)]="row.noOfHrs">
                <span> {{ row.noOfHrs }}</span>
              </td>
              <td
                *ngFor="
                  let timeData of row.contractTimeSheetList;
                  let i = index
                "
                style="width: 55px"
              >
                <span *ngIf="timeData.isDisabled; else editPlace">
                  <input
                    class="form-control"
                    type="text"
                    placeholder=""
                    disabled
                    style="color: red"
                    [ngModel]="timeData.filledData"
                    aria-label=""
                  />
                </span>
                <ng-template #editPlace>
                  <input
                    class="form-control"
                    type="number"
                    placeholder=""
                    step="0.01"
                    onKeyUp="if(this.value>9){this.value='9';}else if(this.value<0){this.value='0';}"
                    [value]="row.contractId"
                    (change)="calculateHours($event)"
                    [(ngModel)]="row.contractTimeSheetList[i].filledData"
                    aria-label=""
                  />
                </ng-template>
              </td>
              <td style="align-items: center" scope="row">
                <input
                  class="form-control"
                  type="text"
                  placeholder=""
                  [(ngModel)]="row.comments"
                  aria-label=""
                />
              </td>
            </tr>
          </tbody>
        </table>
        <div
          class="col-md-12 mt-3 mb-3"
          *ngIf="!timeSheetFlag && !errorMessage"
        >
          <button
            type="button"
            class="btn btn-primary ms-3"
            data-bs-toggle="modal"
            (click)="updateTimeSheet()"
            data-bs-target="#exampleModalToggle2"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="m-2">
    <div class="row">
      <div class="col-12" *ngIf="documentList.length > 0">
        <div
          class="table-responsive overflow-auto mt-3"
          style="max-height: 150px"
        >
          <table class="table">
            <thead>
              <tr>
                <th>File Name</th>
                <th>Status</th>
                <th>Uploaded Date</th>
                <th>Download Timesheet</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let doc of documentList">
                <td class="text-truncate">
                  {{ doc?.fileName }}
                </td>
                <td class="text-truncate">
                  {{ doc?.docStatus }}
                </td>
                <td class="text-truncate">
                  {{ doc?.uploadedDate | date : "dd/MMM/yyyy" }}
                </td>
                <td class="text-truncate">
                  <button
                    type="button"
                    class="btn btn-primary ms-3"
                    (click)="download(doc?.fileName)"
                  >
                    Download
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-12">
        <mat-checkbox
          (click)="onCheckboxClick()"
          [checked]="accepted"
          class="timeshet-cb"
          [disabled]="uploader.queue.length > 0"
          >Click to upload approved timesheets for the selected
          month</mat-checkbox
        >
        <ng-container *ngIf="visible">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-9">
                <span class="hidden-file">
                  <input
                    type="file"
                    multiple
                    appUploadrSelect
                    #fileInput
                    ng2FileSelect
                    [uploader]="uploader"
                    (onFileSelected)="onFileSelected($event)"
                  />
                </span>
                <div class="btn-group mt-2" (click)="fileInput.click()">
                  <button
                    type="button"
                    class="btn btn-primary btn-group-icon btn-group-divider"
                  >
                    <i class="ion-plus-round"></i>
                  </button>
                  <button type="button" class="btn btn-primary">
                    Upload Timesheets
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="col-12" *ngIf="visible && uploader.queue.length > 0">
        <div
          class="table-responsive overflow-auto mt-3"
          style="max-height: 150px"
        >
          <table class="table">
            <thead>
              <tr>
                <th>File Name</th>
                <th>File Size</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td class="text-truncate">
                  {{ item?.file?.name }}
                </td>
                <td class="text-truncate">
                  {{ item?.file?.size / 1024 / 1024 | number : ".2" }} MB
                </td>
                <td>
                  <button
                    type="button"
                    class="btn-close"
                    aria-label="Close"
                    (click)="item.remove()"
                  ></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button
          type="button"
          class="btn btn-primary ms-3 mt-3"
          [disabled]="uploader?.queue.length === 0"
          (click)="save()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>

  &nbsp;

  <div class="alert alert-success alert-box" role="alert">
    <p>Legend : PH - Public Holiday, LE - Leave & HL - Half day Leave.</p>
    <h4 class="alert-heading">Instructions</h4>
    <p>
      ‣ Please enter the time as per the example: 8.5 or 7.5 or 4 ("only
      decimal". No comma (,) and no column (:)).
    </p>
    <p>‣ Please mention extra working days/hours in the comments section</p>
    <p>
      ‣ Customer holidays should be applied as a leave, please fill the
      timesheet before 25th of every month
    </p>
    <p>
      ‣ There should not be any discrepancy in (Total Hours) between NISH and
      customer timesheet
    </p>
  </div>
</div>

<ngx-spinner type="ball-beat"
  ><p style="color: white">Uploading...</p></ngx-spinner
>
