
<div class="mainWrap h100">
    <div class="loginWrap h100">
        <div class="container h100">
            <div class="row h100 align-content-center">
                <div class="col-md-6">
                    <div class="logo">
                        <img src="assets/logo.png" alt="" title="">
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="loginBox p-5">
                        <div class="user_image">
                            <img src="assets/user_image.png" alt="" title="">
                        </div>
                        <form [formGroup]="loginForm">
                            <div class="input-group mb-3 mt-3">
                                <span class="input-group-text" id="basic-addon1"><img src="assets/icon_01.png" alt=""
                                        title=""></span>
                                <input type="text" class="form-control" formControlName="userName" placeholder="Email ID" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon2"><img src="assets/icon_02.png" alt=""
                                        title=""></span>
                                <input type="password" class="form-control" formControlName="userPassword" placeholder="Password" aria-label="Password"
                                    aria-describedby="basic-addon2">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault"> Default checkbox
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="forgotPass text-end">
                                        <a href="#.">Forget password?</a>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center mt-3">
                                    <button type="submit" (click)="signIn()" class="btn_login">Log In</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>