
.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}
.mat-header-cell{
  color: #315379 !important;
  text-transform: uppercase !important;
}
th.mat-header-cell,
td.mat-cell {
  text-align: center;
  border: 1px solid #ccc;
  padding: 0 !important;
  min-width: 100px;
  max-width: 100px;
  white-space: normal;
  word-wrap: break-word;
}
.mat-header-row{
  background-color: #a3bfdd !important;
}
.mat-column-filler {
  padding: 0 8px;
  font-size: 10px;
  text-align: center;
}
table {
  width: auto;
}
.example-container {
  max-width: 100%;
  overflow: auto;
  max-width: 100%;
  overflow: auto;
}
.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

