.mat-column-skills {
  color:blue;
  flex: 0 0 50%;
}

.mat-header-cell{
  color: #315379 !important;
  text-transform: uppercase !important;
}
th.mat-header-cell,
td.mat-cell {
  text-align: center !important;
  border: 1px solid #ccc;
  padding: 10px !important;
  min-width: 100px;
  white-space: normal;
  word-wrap: break-word;
  height: 2px;
  max-height: 2px ;
}

.mat-header-row{
  background-color: #dfe4e6 !important;

}

table {
  width: auto;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.mat-input-element {
  caret-color: #3f51b5 !important;
}

.mat-elevation-z8{
  padding: 10px !important;
  background-color: white;
}

.mat-table{
  display: block;
  width: 100%;
  overflow-x: auto;
}

.mat-button{
color: white !important;
}

.mat-button[disabled]{
  background-color: #15293f2b !important;
  cursor: not-allowed !important;
color: unset !important;
}

.mat-toolbar{
  z-index: 102 !important;
}
