<div class="popUpboxWrap borTop6 p-3">
  <div class="Leavemodal-body">
    <div class="modal-header">
      <h5>Consumed Mobility Details</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="close()"
      ></button>
    </div>
    <div class="example-container mat-elevation-z1">
      <mat-table
        class="responsive-md responsive-sm zebra sticky-header"
        #table
        [dataSource]="dataSource"
        matSort
      >
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>HELLO </mat-header-cell>
          <mat-cell *matCellDef="let element"> seledct</mat-cell>
        </ng-container>

        <ng-container matColumnDef="monthName">
          <mat-header-cell *matHeaderCellDef> Month </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Month">
            {{ element.monthName }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="compHouse">
          <mat-header-cell *matHeaderCellDef> Rent/Mortgage </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Rent/Mortgage ">
            €{{ element.compHouse }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="compTravelPass">
          <mat-header-cell *matHeaderCellDef> Transportation </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Transportation">
            €{{ element.compTravelPass }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="compOthers">
          <mat-header-cell *matHeaderCellDef> Others </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Others">
            €{{ element.compOthers }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="totalAllowanceApplied">
          <mat-header-cell *matHeaderCellDef> Total availed </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Total availed">
            €{{ element.totalAllowanceApplied }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="comments">
          <mat-header-cell *matHeaderCellDef> Comments </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Comments">
            {{ element.comments }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
