<div class="popUpboxWrap borTop6">
    <div class="Leavemodal-body">
        <h5>Consumed Mobility Details</h5>

        <div>
            <table mat-table [dataSource]="dataSource" style="width: 100%;">

                <ng-container matColumnDef="monthName" sticky>
                    <th mat-header-cell *matHeaderCellDef>Month</th>
                    <td mat-cell *matCellDef="let element"> {{element.monthName}} </td>
                </ng-container>

                <ng-container matColumnDef="compHouse" sticky>
                    <th mat-header-cell *matHeaderCellDef> Composition House </th>
                    <td mat-cell *matCellDef="let element" class="tab-col"> {{element.compHouse}} </td>
                </ng-container>

                <ng-container matColumnDef="compTravelPass">
                    <th mat-header-cell *matHeaderCellDef> Composition Travel</th>
                    <td mat-cell *matCellDef="let element"> {{element.compTravelPass}} </td>
                </ng-container>

                <ng-container matColumnDef="compOthers">
                    <th mat-header-cell *matHeaderCellDef> Composition Others </th>
                    <td mat-cell *matCellDef="let element"> {{element.compOthers}} </td>
                </ng-container>

                <ng-container matColumnDef="totalAllowanceApplied">
                    <th mat-header-cell *matHeaderCellDef> Total Allowance Applied </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalAllowanceApplied}} </td>
                </ng-container>

                <ng-container matColumnDef="comments">
                    <th mat-header-cell *matHeaderCellDef> Comments </th>
                    <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
                </ng-container>

                <ng-container matColumnDef="uploadedBy">
                    <th mat-header-cell *matHeaderCellDef> Applied By </th>
                    <td mat-cell *matCellDef="let element"> {{element.updatedBy}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

    </div>
</div>